
# Replace the tokens
# NOTE: It is HIGHLY RECOMMENDED to use the SANDBOX token when experimenting and testing. 
# Only use the production token (LEANIX_API_TOKEN) when you're confindent and tested your changes in advance. 

# API Token for Sandbox (read and write permissions = Lese- und Schreibrechte)
LEANIX_API_TOKEN_SANDBOX=your-sandbox-token-here

LEANIX_API_TOKEN=your-production-token-here

# Change subdomain if needed
# For example, the workspace URL for bank is `bank.leanix.net` then the Sandbox token is:
LEANIX_SUBDOMAIN=bank